@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');


*, html, body {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: #0654d1;
}

h1{
    text-align: center;
    color: #fff;
    text-shadow: 3px 5px 3px red;
    padding: 15px;
    margin: 15px auto 0px auto;
    font-size: 3.5em;
}

.container-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto;
	margin-bottom: 2rem;
}

.container__child {
	max-width: 300px;
	width: 100%;
}

.calculator {
	border-radius: 1em;
	box-shadow: 5px 5px 8px rgb(242, 239, 250);

}

.calculator .display {
	background: rgb(7, 202, 17);;
	padding: 1rem;
	border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.display .calculator-display {
	width: 100%;
	border: 0px;
	background: #000;
	border-radius: .725rem;
    padding: .650rem;
    box-shadow: inset 2px 3px 5px 0px rgba(190, 59, 59, 0.7);
    outline: none;
}

.calculator-display output {
	display: block;
	background: transparent;
	width: 100%;
}

output#user-input {
	font-size: 1.6rem;
	font-weight: 600;
	text-align: right;
	color: #edf3f0;
}

output#result {
	font-size: 1.825rem;
	font-weight: 700;
	text-align: right;
	color: #fff;
}

.calculator .all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #ffe8e8;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.all-buttons button {
    font-size: 1.4em;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 5px solid white;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
}

button.equals {
	grid-column: 3 / 5;
	border-radius: 2.5rem;
}

button.equals:hover {
	background: limegreen;
	color: #fff;
	transform: translateY(-0.2rem);
}

button.digits:hover,
button.decimal:hover {
	background: #bdbdbd;
	color: #212121;
	transform: translateY(-0.2rem);
}

button.operators, button.equals{
    background: #033a92;
}

button.operators:hover {
	background: rgb(240, 122, 12);
	color: rgb(250, 248, 248);
	transform: translateY(-0.2em);
}

button.allclear, button.clear, button.decimal{
    background: rgb(87, 156, 90);
}

button.allclear:hover,
button.clear:hover {
	background: lightcoral;
	color: #000;
	transform: translateY(-0.2rem);
}

button.digits:active,
button.operators:active,
button.decimal:active,
button.allclear:active,
button.clear:active,
button.equals:active {
	transform: translateY(0rem);
}

footer {
	text-align: center;
	color: #fff;
    padding: 25px;
    font-size: 1.2em;
}
